!!! 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title='Insert title here'
    link(href="css/bubble.css", rel="stylesheet", type="text/css")
  body
    ol.bubblelist-blue
      li.alt
        div.bubble
          div.bubbletop
          div.bubblemiddle
            p 黑鸟：我来了！
          div.bubblebottom
      li.even
        div.bubble
          div.bubbletop
          div.bubblemiddle
            p 别人对你有各种期望，你会不会有压力 ?
          div.bubblebottom
      li.alt
        div.bubble
          div.bubbletop
          div.bubblemiddle
            p 黑鸟：我很庆幸我过的日子, 是我自己想过的日子, 而不是别人想要我过的日子。 别人想过什么样的日子,他们自己去过就好了，轮不到我来替他们过...
          div.bubblebottom
      li.even
        div.bubble
          div.bubbletop
          div.bubblemiddle
            textarea#answer.text(name="answer")
          div.bubblebottom
        input.send(type="button",value="发送")