!!! 5
html
  head
    title='Insert title here'
    include head
  body
    ol.bubblelist-blue
      li.alt
        div.bubble
          div.bubbletop
          div.bubblemiddle
            textarea#question.text(name="question")
          div.bubblebottom
      li.even
        div.bubble
          div.bubbletop
          div.bubblemiddle
            textarea#answer.text(name="answer")
          div.bubblebottom
        input.send.btn.btn-primary.btn-large(id="teach",type="button",value="   发  送   ")
    include ga